EMAIL_ENABLED=1

# Email SMPT server configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
EMAIL_USER=
EMAIL_PASS=
EMAIL_TO=

# MongoDB connection string
MONGO_URI=
TICKERS=TF.TO,Y.TO

# Full path to the service account JSON you upload to the server
GOOGLE_SERVICE_ACCOUNT_JSON=

# The spreadsheet ID from the sheet URL:
# https://docs.google.com/spreadsheets/d/<THIS_PART>/edit
GOOGLE_SHEET_ID=

# Name of the tab/worksheet inside the spreadsheet
GOOGLE_SHEET_TAB=

# DEBUG for verbose output, INFO for normal
LOG_LEVEL=INFO